@media screen and (min-width:769px) and (max-width:992px) 
{
/*Ajout de la fonctionnalité box-sizing*/
* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }


body
{
    font-family:Raleway;
    color: rgb(4, 4, 5);
    margin-left: 30px;
    margin-right: 30px;
}
/*LES TITRES --------------------------------------------------------------------------------------------------------------------------------------*/
h1
{
    font-size: 140%;
    margin: 20px;
}
h2
{
    font-size: 130%;
    margin: 20px;
    }
h3
{
    font-size: 120%;
    font-weight: 300;
    margin: 25px;
}

a:link 
{ 
 text-decoration:none; 
 color: initial;
} 
a:visited
{ 
 text-decoration:none; 
 color: inherit;
} 

/* HEADER + MENU --------------------------------------------------------------------------------------------------------------------------------------*/
.logo
{
    height: 100px;
    display: flex;
    justify-content: flex-start;
    padding-top: 30px;;
}

header
{
    margin: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
.menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none; /*suppression des points*/
    position: absolute;
    right: 5%;
}

li /*espacement entre les élements de menu*/
{
    padding-left:30px;
    padding-right:30px;
    padding-top: 30px;
}
.elemtmenu:hover
{
    color:#0065FC;
    border-top: 1px solid #0065FC;
}
/* LA RECHERCHE --------------------------------------------------------------------------------------------------------------------------------------*/
::placeholder {
    color: black;
    font-weight: bold;
  }
.recherchedesktop
{
    display: flex;
    margin-bottom: 10px;
    height: 45px;
}
.recherchemobile
{
    display: none
}
.localisation
{ 
    background-color: #F2F2F2;
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.find
{ 
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding: 15px;
    width: 200px;
    display: flex;
    justify-content: start;
    align-items: center;
}

#site-search
{
    border: none;
}
.valid
{ 
    background-color: #0065FC;
    color: white;
    padding: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
}

/* LES FILTRES --------------------------------------------------------------------------------------------------------------------------------------*/
.filtres
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 20px;
    height: 100px;
}
.filtre1
{
    display: flex;
    align-items: center;
}
.filtreplus
{
    display: flex;
    align-items: center;
}
.filtre
{
    margin-right: 20px;
}
.icon
{
padding: 10px;
background-color: #DEEBFF;
border-radius: 50px;
width: 42px;
height: 42px;
z-index: 1;
color:#0065FC ;
}
.textfiltre
{
    padding: 10px;
    border-top: 3px solid #F2F2F2 ;
    border-bottom: 3px solid #F2F2F2 ;
    border-right: 3px solid #F2F2F2 ;
    width: 160px;
    height: 42px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 95%;
    
}
.textfiltre:hover
{background-color: #F2F2F2;}
.textfiltre2:hover
{background-color: #F2F2F2;}

.textfiltre2
{
    padding: 10px;
    border-top: 3px solid #F2F2F2 ;
    border-bottom: 3px solid #F2F2F2 ;
    border-right: 3px solid #F2F2F2 ;
    width: 230px;
    height: 42px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 95%;
    
}
.iconinfo
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    padding: 3px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
.intro 
{
    position: relative;
    left: -10px;
}
.plus 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 95%;
}
/* Bloc hebergements --------------------------------------------------------------------------------------------------------------------------------------*/
.blocheberg
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2 ;
    border-radius: 20px;
    margin-bottom: 30px;
}
.carteheberg
{
    width: 250px;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;

}
.carteheberg:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.imagecarte
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 4px;
    width: 100%;
    height: 130px;
    object-fit: cover;
}
.descriptioncarte
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 15px;
    

}
.titrecarte
{
    font-size: medium;
    font-weight: bolder;
    padding-bottom: 10px;
}
.desccarte
{
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 6px;
}

.starpleine
{
    color: #0065FC;
}
.starvide
{
    color: #d6d4d4;
}
.notation
{ 
    display: flex;
}
.cartesheb
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}




/* Bloc populaire -------------------------------------------------------------------------------------------------------------------------------------- */
.blocpopulaire
{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}
.titreclasspop
{ 
    display: flex;
    justify-content: space-between;
}
.cartepop
{
    width: 100%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin: 10px;
}
.cartepop:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.imagecartepop
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 4px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 120px;
    aspect-ratio: 1/1;
    
} 
.descriptioncartepop
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 15px;
}
.titrecartepop
{
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
}
.desccartepop
{
    font-size: 14px;
    font-weight: 100;
    padding-bottom: 4px;
    padding-top: 4px;
}
.notationpop
{ 
    display: flex;
    padding-top: 7px;
}
.cartes
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
/* Hebergements --------------------------------------------------------------------------------------------------------------------------------------*/
#hebergements
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
/* Bloc activités --------------------------------------------------------------------------------------------------------------------------------------*/
.cartesactiv
{ 
    display: flex;
    flex-direction: column;
    width: 100%;
}
.carteactivite1
{
    width: 95%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite1:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.carteactivite2
{
    width: 95%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite2:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.carteactivite3
{
    width: 95%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite3:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.carteactivite4
{
    width: 95%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite4:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.imagecarteactiv1
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/1;
    width: 100%;
}
.imagecarteactiv2
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/1;
    width: 100%;
}
.imagecarteactiv3
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/1;
    width: 100%;
}
.imagecarteactiv4
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/1;
    width: 100%;
}
.titrecarteact
{
    font-size: 110%;
    font-weight: 900;
    padding: 15px;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------------------------------*/

footer
{
    background-color: #F2F2F2;
    padding: 50px;
    width: 100%;
    position: absolute;
    left: -5px;
    display: flex;
    justify-content:space-between;
}
}