/*Ajout de la fonctionnalité box-sizing*/
* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }

/*ajout de la police Raleway*/
body
{
    font-family:raleway;
    color: rgb(4, 4, 5);
}
.logo
{
    height: 50px;
    display: flex;
    justify-content: flex-start;
}

header
{
    margin: 30px;
    display: flex;
    flex-direction: column;
}
.menu
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    list-style: none; /*suppression des points*/
    position: absolute;
    right: 5%;
}

li /*espacement entre les élements de menu*/
{
    padding-left:30px;
    padding-right:30px;
}
.select
{
    color:#fc00c5
}
footer
{
    background-color: #F2F2F2;
    padding: 50px;
    margin: 0;
    width: 100%;
    position: absolute;
    left: -5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}  
.blocfooter
{
    padding-bottom: 30px;
}
.filtres
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}