/*taille écran*/
@media only screen and (min-width:768px) and (max-width:992px) {

    /*Ajout de la fonctionnalité box-sizing*/
* {
    box-sizing: border-box;
   /* box-sizing est appliqué à tous les éléments */
   }

/*ajout de la police Raleway*/
body
{
    font-family:Raleway;
    color: rgb(4, 4, 5);
}
/*LES TITRES --------------------------------------------------------------------------------------------------------------------------------------*/
h1
{
    font-size: 30px;
    font-weight: bolder;
    margin: 20px;
    margin-top: 30px;
    color: yellow;
}
h2
{
    font-size: 25px;
    margin: 20px;
    }
h3
{
    font-size: 22px;
    font-weight: 400;
    margin: 20px;
}
h4
{
    font-size: 20px;
    font-weight: 900;
    margin: 30px;
}
a:link 
{ 
 text-decoration:none; 
 color: initial;
} 
a:visited
{ 
 text-decoration:none; 
 color: inherit;
} 

/* HEADER + MENU --------------------------------------------------------------------------------------------------------------------------------------*/
.logo
{
    width: 30%;
    margin-top: 30px;
}
.logomob img
{
    content: url("images/logo/Booki@3x.png");
}
.logomob
{
    width: 100%;
    display: flex;
    justify-content: center;
}
header
{
    width: 100%;
}
.menu
{
    display: flex;
    flex-direction: row;
    list-style: none; /*suppression des points*/
    font-size: 25px;
    margin-left: -40px;
}

li /*espacement entre les élements de menu*/
{
    border-bottom: 3px solid #F2F2F2;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;
    height: 80px;
    align-items: center;

}

.select
{
    color:#0065FC;
    border-bottom: 3px solid #0065FC;
}
.intro
{
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 50px;
    position: relative;
    left: -10px;
}
/* LA RECHERCHE --------------------------------------------------------------------------------------------------------------------------------------*/
::placeholder {
    color: black;
    font-weight: bold;
  }
.recherchedesktop
{
    display: none;
}
.recherchemobile
{
    display: flex;
    flex-direction: row;
    margin: 2%;
    justify-content: center;
    width: 90%;
}
.localisation
{ 
    background-color: #F2F2F2;
    padding: 5%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    width: 15%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
}
.find
{ 
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    padding-left: 2%;
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
}
#site-search
{
    border: none;
    font-size: 25px;
    font-weight: 900;
}
.valid
{ 
    background-color: #0065FC;
    color: white;
    padding: 2%;
    border-radius: 30%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
    font-size: 150%;
}



/* LES FILTRES --------------------------------------------------------------------------------------------------------------------------------------*/
.filtre
{
    width: 100%;
    margin: 20px;
    font-size: 30px;
}
.filtres
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    margin-left: 30px;
}
.filtre1
{
    display: flex;

}
.icon
{
padding: 21px;
background-color: #DEEBFF;
border-radius: 50px;
width: 80px;
height: 80px;
z-index: 1;
color:#0065FC ;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
}
.textfiltre
{
    padding: 10px;
    border-top: 3px solid #F2F2F2 ;
    border-bottom: 3px solid #F2F2F2 ;
    border-right: 3px solid #F2F2F2 ;
    width: 210px;
    height: 80px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 25px;
    margin-bottom: 10px;
    font-weight: 900;
    font-size: 25px;
    
}
.textfiltre:hover
{background-color: #F2F2F2;}
.textfiltre2:hover
{background-color: #F2F2F2;}

.textfiltre2
{
    padding: 10px;
    border-top: 3px solid #F2F2F2 ;
    border-bottom: 3px solid #F2F2F2 ;
    border-right: 3px solid #F2F2F2 ;
    width: 290px;
    height: 80px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    left: -35px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
    padding-left: 20px;
    font-weight: 900;
    font-size: 25px;
    
}
.iconinfo
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    margin-left: 20px;
}
.plus 
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 25px;
    margin-left: 15px;
}

/* Bloc hebergements --------------------------------------------------------------------------------------------------------------------------------------*/
.blocheberg
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.carteheberg
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 20px;

}
.carteheberg:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.imagecarte
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 8px;
    width: 100%;
    aspect-ratio: 20/7;
    object-fit: cover;
       
}
.descriptioncarte
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 10px;
    padding-bottom: 15px;
    

}
.titrecarte
{
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 10px;
}
.desccarte
{
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 20px;
}

.starpleine
{
    color: #0065FC;
}
.starvide
{
    color: #d6d4d4;
}
.notation
{ 
    display: flex;
    flex: row;
    font-size: 20px;
}

.cartes
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}


/* Bloc populaire -------------------------------------------------------------------------------------------------------------------------------------- */
.blocpopulaire
{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #F2F2F2 ;
}
.titreclasspop
{ 
    display: flex;
    justify-content: space-between;
}
.cartepop
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5%;
}
.cartepop:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.imagecartepop
{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 8px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    
} 
.imgcartepop 
{
    width: 40%;
}
.descriptioncartepop
{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    padding-left: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    width: 60%;
}
.titrecartepop
{
    padding-bottom: 3%;
    padding-top: 3%;
    font-size: 25px;
    font-weight: bolder;
    width: 100%;
}
.desccartepop
{
    font-size: 20px;
    font-weight: 100;
    padding-bottom: 40px;
    padding-top: 6px;
}
.notationpop
{ 
    display: flex;
    flex: row;
    padding-top: 1%;
    font-size: 20px;
}

/* Hebergements --------------------------------------------------------------------------------------------------------------------------------------*/
#hebergements
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}
/* Bloc activités --------------------------------------------------------------------------------------------------------------------------------------*/
.cartesactiv
{ 
    display: flex;
    flex-direction: column;
    width: 100%;
}
.carteactivite1
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite1:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.carteactivite2
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite2:hover
{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}
.carteactivite3
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite3:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.carteactivite4
{
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px #d6d4d4;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 20px;
}
.carteactivite4:hover
{
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.imagecarteactiv1
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/2;
    width: 100%;
}
.imagecarteactiv2
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/2;
    width: 100%;
}
.imagecarteactiv3
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/2;
    width: 100%;
}
.imagecarteactiv4
{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    object-fit: cover;
    aspect-ratio: 5/2;
    width: 100%;
}
.titrecarteact
{
    font-size: medium;
    font-weight: 900;
    padding: 25px;
    font-size: 25px;
}

/* FOOTER --------------------------------------------------------------------------------------------------------------------------------------*/

.blocfooter
{
    padding-right: 10%;
}
footer
{
    background-color: #F2F2F2;
    padding: 50px;
    margin: 0;
    width: 100%;
    position: absolute;
    left: -5px;
    display: flex;
    justify-content: flex-start;
}
}